.note {
  position: relative;
  width: 13em;
  min-height: 14em;
  background: #fffac9;
  border-radius: 15px;
  padding: 0.1em 2em 6em 2em;
  cursor: pointer;
  margin-bottom: 2em;
}

.note h2 {
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
  margin-right: 2em;
  word-wrap: break-word;
}

.note ul {
  margin: -2em; /* To remove default bottom margin */
  margin-top: 0.1em;
  padding: 0; /* To remove default left padding */
  list-style: none;
  font-size: 15px;
  font-weight: 700;
}

.list-container {
  margin-left: -8em;
  position: relative;
}

.zoom-icon {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 0;
}

a {
  text-decoration: initial;
  color: initial;
}

.zoom-icon-note {
  cursor: pointer;
  border: 2.5px solid black;
  width: 2.3em;
  height: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 1.2em;
  margin-right: 1.2em;
}

.zoom-icon-note img {
  width: 40%;
}

.ThreeDots {
  position: absolute;
  top: 0.5em;
  right: 0.4em;
}

@media (max-width: 600px) {
  .note ul {
    margin: 0em; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
  }
  .zoom-icon {
    bottom: -1em;
    right: 0;
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 0;
  }

  .zoom-icon-note {
    margin-bottom: 2.7em;
    margin-right: 1em;
  }

  .ThreeDots {
    position: absolute;
    top: -0.9em;
    right: 0.3em;
  }
}
