.singleNote {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleNote .note {
  margin-top: 10vh;
  margin-left: 5vw;
  width: 75vw;
  padding-bottom: 15em;
}

.singleNote ul {
  margin-left: 7.5em;
  font-size: 1.1em;
}
