.container {
    display: flex;
}

.notes-container {
    width: 100%;
    padding: 2% 7em;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-start;
}

.notes-container div {
    margin-left: 2em;
    margin-top: 2em;
}

@media (max-width: 600px) {
    .notes-container {
        padding: 0% 0em 10em;
        align-items: center;
        flex-direction: column;
    }
    .notes-container div {
        margin-left: 0em;
    }
}
